* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

nav li  {
    display: inline;

}

nav li a{
    text-decoration: none;
    color: black;
}

body {
    background-color: azure;
}

main{
    background-color: rgb(182, 250, 250);
    border-radius: 20px;
}

.inventory-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.inventory-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

