body{
    background-color: #c5e6f9dd;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #7da6f9;
    text-align: center;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

header h1{
    color: #000000;
    letter-spacing: 1px;
    font-family:'Times New Roman', Times, serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    
}

nav ul li{
    display: inline;
    margin-right: 30px;
}
/* style for my navigation (home, menu, and contact us) */
nav ul li a{
    color: #000000;
    text-decoration-line: underline;
    border-style: outset; 
    border-width: 3px;
    border-color: #eafff8;
}

main{
    padding: 20px;

}

#logo{
    width: 100px;
    height: 90px;
    border-radius: 50%;
    max-width: 100px;
}

#hero{
    text-align: center;
    margin-bottom: 40px;
    border: dashed;
    background-color: #eafff8;
    padding: 10px;
}

/* styling for my container */
#container{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: solid;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #eafff8;
}

#Menu-title, #Drinks-title{
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* image styling */
.Menu img, .Drinks img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    max-width: 150px;
    border: dashed;
}

/* menu and drink alignment */
.Menu{
    justify-self: center;
    text-align: center;
}

.Drinks{
    justify-self: center;
    text-align: center;
}



/* css for my food grid */
#Burrito{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#Tacos{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#Quesadilla{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#Nachos{
    grid-column: 0 / 4;
    grid-row: 3 / 3;
}

#Guacamole{
    grid-column: 3 / 4;
    grid-row: 3 / 3;
}




/* css for my drink grid */
#Jarritos{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#Water{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#Mango{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#Strawberry{
    grid-column: 0 / 4;
    grid-row: 3 / 3;
}

#Tea{
    grid-column: 3 / 4;
    grid-row: 3 / 3;
}

/* style for my form */
#fname, #lname, #email, #reason{
    justify-content: center;
    padding: 3px;
    border-radius: 8px;
    margin: 4px;
    
}

#reason{
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

button{
    padding-block: 4px;
    border-style: inset;
    
}
/* footer css */
footer{
    background: #7da6f9;
    color: #eafff8;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 27px;
    padding: 10px 0;
    font-weight: 700;
}

